@import 'bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #1E2D3B;
}

.gray{
    color: gray;
}

.bgc-1{
    background-color: #2E3A46;
}